@import 'tailwindcss';
@import './theme.css';

* {
    word-break: break-word;
}

input,
button {
    outline: none;
}

body {
    font-family: 'Opificio', sans-serif;
    background-color: var(--color-background);
    overflow-x: hidden;

    transition:
        background-color 1s ease-in-out,
        color 1s ease-in-out;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top: 5px solid #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
